language: php

matrix:
    include:
        - php: 7.0
        - php: 7.1
    fast_finish: true

sudo: false

env:
    global:
        - PATH="$HOME/.composer/vendor/bin:$PATH"

cache:
    directories:
        - $HOME/.composer/cache/files

before_install:
    - if [[ $TRAVIS_PHP_VERSION = 7.1 ]]; then git clone git://github.com/xdebug/xdebug.git && cd xdebug && phpize && ./configure --enable-xdebug && make && make install && echo "zend_extension = xdebug.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini && cd ..; fi
    # From https://github.com/travis-ci/travis-ci/issues/5780#issuecomment-196308406
    - |
      XDEBUG_INI="/home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini"
      if [ ! -f "$XDEBUG_INI" ]; then
          return
      fi
      function composer()
      {
          mv $XDEBUG_INI ~/xdebug.ini
          COMPOSER="$(which composer)"
          $COMPOSER "$@"
          STATUS=$?
          mv ~/xdebug.ini $XDEBUG_INI
          return $STATUS
      }
    - composer self-update
    - if [ "$TRAVIS_PHP_VERSION" = "nightly" ]; then COMPOSER_FLAGS="$COMPOSER_FLAGS --ignore-platform-reqs"; fi;

install:
    - export SYMFONY_DEPRECATIONS_HELPER=strict
    - export COMPOSER_ROOT_VERSION=dev-master
    - composer global require satooshi/php-coveralls:@stable --prefer-dist --no-interaction
    - composer update $COMPOSER_FLAGS --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-clover build/logs/clover.xml --verbose

after_script:
    - coveralls -v -x build/logs/clover.xml
