<?php

return [
    'schema_version' => 1, // Config-schema version, only change this when requested

    // HubKit supports GitHub Enterprise, and therefor you can add multiple
    // hub configurations by there hostname. The default one is `github.com`.
    //
    // Before you can authenticate, get a new token at: https://github.com/settings/tokens/new
    //
    // Use a unique and distinct name like: `hubkit on computer-1 at 2016-11-01 14:54 CET`
    // with scopes: "repo, user:email, read:gpg_key"
    'github' => [
        'github.com' => [ // hostname of the hub
            'username' => '', // fill-in your github username
            'api_token' => '', // fill-in the new GitHub authentication token (NOT YOUR PASSWORD!)
        ],
//        'hub.mycorp.com' => [ // hostname of your GitHub Enterprise installation
//            'username' => '', // fill-in your github username
//            'api_token' => '', // fill-in the new GitHub authentication token (NOT YOUR PASSWORD!)
//            'api_url' => 'https://api.hub.mycorp.com/' // schema + hostname to API endpoint (excluding API version)
//        ],
    ],

    // Configuration for repository splitting.
    // Structure is expected to be: [hostname][organization/source-repository]
    // With 'split' being a list of paths (relative to repository root, and no patterns)
    //    and the value e.g. an 'push url' or `['url' => 'push url', 'sync-tags' => false]`.
    //
    // All configured targets are split when requested. Missing directories are ignored.
    //
    // The push remote is automatically registered.
    // The 'sync-tags' can be configured for all split targets, and per target.
    //
//    'repos' => [
//        'github.com' => [
//            'park-manager/park-manager' => [
//                'sync-tags' => true,
//                'split' => [
//                    'src/Bundle/CoreBundle' => 'git@github.com:park-manager/core-bundle.git',
//                    'src/Bundle/UserBundle' => 'git@github.com:park-manager/user-bundle.git',
//                    'doc' => ['git@github.com:park-manager/doc.git', 'sync-tags' => false],
//                ],
//            ],
//        ],
//    ],
];
