includes:
    - vendor/rollerscapes/standards/phpstan.neon
    - phpstan-baseline.neon

parameters:
    #reportUnmatchedIgnoredErrors: false

    paths:
        - ./src
        - ./tests
        - ./bin
        - .hubkit

    ignoreErrors:
        ## Application
        #- '#Call to an undefined method Webmozart\\Console\\Api\\Config\\ApplicationConfig\|Webmozart\\Console\\Api\\Config\\CommandConfig\:\:end\(\)#'
