includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - phpstan-baseline.neon

parameters:
    #reportUnmatchedIgnoredErrors: false

    level: 8
    paths:
        - ./src
        - ./tests
        - ./bin
        - .hubkit

    ignoreErrors:
        ## Application
        #- '#Call to an undefined method Webmozart\\Console\\Api\\Config\\ApplicationConfig\|Webmozart\\Console\\Api\\Config\\CommandConfig\:\:end\(\)#'
