parameters:
    autoload_files:
        - vendor/autoload.php
    ignoreErrors:
        - '#__construct\(\) does not call parent constructor#'

        ## Application
        - '#Property HubKit\\Service\\CliProcess\:\:\$processHelper \(Symfony\\Component\\Console\\Helper\\ProcessHelper\) does not accept Symfony\\Component\\Console\\Helper\\HelperInterface#'
        - '#Webmozart\\Console\\Api\\Config\\Config\:\:setHandler\(\) expects object, Closure\(\): mixed given#'
        #- '#Call to an undefined method Webmozart\\Console\\Api\\Config\\ApplicationConfig\|Webmozart\\Console\\Api\\Config\\CommandConfig\:\:end\(\)#'

        ## Tests
        #- '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'
        #- '#Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy::\$[a-zA-Z0-9_]+#'
        #- '#Call to an undefined method PHPUnit_Framework_MockObject_MockObject::[a-zA-Z0-9_]+\(\)#'
        #- '#expects\s+[^\s]+, PHPUnit_Framework_MockObject_MockObject given#'
        #- '#Parameter \#\d+ \$([^\s]+) of class ([^\s]+) constructor expects ([^,]+), object given#'
